<% content_for :head do %>
  <%= stylesheet_link_tag 'operators', media: 'all' %>
<% end %>
<% content_for :body do %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery.mobile.custom.min.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'jasny-bootstrap.min.js' %>
  <%= javascript_include_tag 'moment.js' %>
  <%= javascript_include_tag 'ru.js' %>
  <%= javascript_include_tag 'jquery.easing.js' %>
  <%= javascript_include_tag 'bootstrap-datetimepicker.min.js' %>
  <%= javascript_include_tag 'selectize.min.js' %>
  <%= javascript_include_tag 'jquery.quicksand.js' %>
  <%= javascript_include_tag 'slick.min.js' %>
  <%= javascript_include_tag 'jquery.fancybox.pack.js' %>
  <%= javascript_include_tag 'datepicker.js' %>
  <%= javascript_include_tag 'main.js' %>
<% end %>
<div id="sub-header" class="xxs-compact" style="background-image:url('/DEMO/sh-operators.jpg')">
	<h3 class="hidden-xxs">Популярные туроператоры</h3>
</div>
<div class="container" style="margin:40px auto">
	<h3 class="visible-xxs text-center">Популярные туроператоры</h3>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/1.png">
				<div class="hover">
					<div>
						<h3>Алеан</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/2.png">
				<div class="hover">
					<div>
						<h3>Арт Тур</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/3.png">
				<div class="hover">
					<div>
						<h3>Данко трэвел компани</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/4.jpg">
				<div class="hover">
					<div>
						<h3>Интурист</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/5.png">
				<div class="hover">
					<div>
						<h3>Пегас</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/6.png">
				<div class="hover">
					<div>
						<h3>СанрайзТур</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/7.png">
				<div class="hover">
					<div>
						<h3>ТУИ</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/8.png">
				<div class="hover">
					<div>
						<h3>Амигос</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/9.png">
				<div class="hover">
					<div>
						<h3>Библио Глобус</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/10.jpg">
				<div class="hover">
					<div>
						<h3>Девису</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/11.png">
				<div class="hover">
					<div>
						<h3>КоралТравел</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<img src="/DEMO/operators/12.png">
				<div class="hover">
					<div>
						<h3>Русский Экспресс</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<%=image_tag('DEMO/operators/13.png')%>
				<div class="hover">
					<div>
						<h3>Тэз Тур</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<%=image_tag('DEMO/operators/12.png')%>
				<div class="hover">
					<div>
						<h3>ТВояж</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<%=image_tag('DEMO/operators/15.png')%>
				<div class="hover">
					<div>
						<h3>Анекс Тур</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<%=image_tag('DEMO/operators/16.png')%>
				<div class="hover">
					<div>
						<h3>Бриско</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<%=image_tag('DEMO/operators/17.png')%>
				<div class="hover">
					<div>
						<h3>Дельфин</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<%=image_tag('DEMO/operators/18.png')%>
				<div class="hover">
					<div>
						<h3>Пакс</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<%=image_tag('DEMO/operators/19.png')%>
				<div class="hover">
					<div>
						<h3>Санмар</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
				<%=image_tag('DEMO/operators/20.png')%>
				<div class="hover">
					<div>
						<h3>Трансаэро тур</h3>
					</div>
					<div>
						<div>
							<a href="/?p=operator" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>	