<% content_for :head do %>
  <%= stylesheet_link_tag 'operators', media: 'all' %>
<% end %>
<% content_for :body do %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery.mobile.custom.min.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'jasny-bootstrap.min.js' %>
  <%= javascript_include_tag 'moment.js' %>
  <%= javascript_include_tag 'ru.js' %>
  <%= javascript_include_tag 'jquery.easing.js' %>
  <%= javascript_include_tag 'bootstrap-datetimepicker.min.js' %>
  <%= javascript_include_tag 'selectize.min.js' %>
  <%= javascript_include_tag 'jquery.quicksand.js' %>
  <%= javascript_include_tag 'slick.min.js' %>
  <%= javascript_include_tag 'jquery.fancybox.pack.js' %>
  <%= javascript_include_tag 'datepicker.js' %>
  <%= javascript_include_tag 'main.js' %>
<% end %>
<div id="sub-header" class="xxs-compact" style="background-image:url('<%=asset_path("DEMO/sh-operators.jpg")%>')">
	<h3 class="hidden-xxs">Популярные туроператоры</h3>
</div>
<div class="container" style="margin:40px auto">
	<h3 class="visible-xxs text-center">Популярные туроператоры</h3>
	<div class="row">
	<%@operators.each do |operator| %>
		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="operator">
			<%= image_tag(operator.logo.url)%>
				<div class="hover">
					<div>
						<h3><%=operator.name%></h3>
					</div>
					<div>
						<div>
							<a href="/operator/<%=operator.id%>" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<%end%>

	</div>
</div>	