<% content_for :body do %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery.mobile.custom.min.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'jasny-bootstrap.min.js' %>
  <%= javascript_include_tag 'moment.js' %>
  <%= javascript_include_tag 'ru.js' %>
  <%= javascript_include_tag 'jquery.easing.js' %>
  <%= javascript_include_tag 'bootstrap-datetimepicker.min.js' %>
  <%= javascript_include_tag 'selectize.min.js' %>
  <%= javascript_include_tag 'jquery.quicksand.js' %>
  <%= javascript_include_tag 'slick.min.js' %>
  <%= javascript_include_tag 'jquery.fancybox.pack.js' %>
  <%= javascript_include_tag 'ion.rangeSlider.min.js' %>
  <%= javascript_include_tag 'jquery.scrollbar.min.js' %>
  <%= javascript_include_tag 'datepicker.js' %>
  <%= javascript_include_tag 'main.js' %>
<% end %>
<div class="main-slider">
    <div class="slide" style="background-image:url('<%=asset_path("DEMO/main-slider1.jpg")%>')">
    <div class="slide-content">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-6 col-md-6 col-sm-offset-7 col-sm-5">
            <div class="slide-text">Наши цены<br>стабильные и<br>прозрачные!<br>Никаких<br>скрытых доплат!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="slide" style="background-image:url('<%=asset_path("DEMO/main-slider2.jpg")%>')">
    <div class="slide-content">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-6 col-md-6 col-sm-offset-7 col-sm-5">
            <div class="slide-text">Миллионы туров от крупных туроператоров и в лучшие отели!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="slide" style="background-image:url('<%=asset_path("DEMO/main-slider3.jpg")%>')">
    <div class="slide-content">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-6 col-md-6 col-sm-offset-7 col-sm-5">
            <div class="slide-text">Тысячи радостных путешественников по всему миру – благодаря нам :-)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="slide" style="background-image:url('<%=asset_path("DEMO/main-slider4.jpg")%>')">
    <div class="slide-content">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-6 col-md-6 col-sm-offset-7 col-sm-5">
            <div class="slide-text">Бонусные мили в подарок – за тур от 30 тысяч рублей</div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="slide" style="background-image:url('<%=asset_path("DEMO/main-slider5.jpg")%>')">
    <div class="slide-content">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-6 col-md-6 col-sm-offset-7 col-sm-5">
            <div class="slide-text">Мы с Вами на связи до Вашего отдыха, во время и после!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="main-content">
  <div class="container">
     <div class="row">
       <div class="col-md-5 col-sm-7">
        <div class="main-roundtour">
          <div class="main-roundtour-content">
            <div class="main-roundtour-text">
              <h2>Подобрать тур</h2>
              <form class="form-roundtour">
                <div class="roundtour-city">
                  Город вылета: <a href="#" class="roundtour-city--select">Москва</a>
                  <div class="roundtour-city--submenu">
                    <input type="text" class="form-control roundtour-city--search" value="Москва">
                    <a href="#" class="roundtour-city--close"><span class="icons-close_orange"></span></a>
                    <div class="roundtour-city--wrapper scrollbar-inner">
                      <ul class="roundtour-city--list">
                        <li>Москва</li>
                        <li>Санкт-Петербург</li>
                        <li>Абакан</li>
                        <li>Актау</li>
                        <li>Актобе</li>
                        <li>Алматы</li>
                        <li>Анадырь</li>
                        <li>Анапа</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group roundtour-place--container">
                  <a href="#" class="roundtour-place">
                    <span class="icon icons-location_orange"></span>
                    <span class="text">Где хотите отдохнуть?</span>
                  </a>
                  <div class="roundtour-place--submenu">
                    <input type="text" class="form-control roundtour-place--search" value="" placeholder="Где хотите отдохнуть?">
                    <span class="roundtour-place--searchicon icons-location_orange"></span>
                    <div class="roundtour-place--wrapper scrollbar-inner">
                      <ul class="roundtour-place--list">
                                                <li>
                         
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Аналипси</h4>
                            <span class="roundtour-place--country">Россия</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-aircraft"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Apatrments Ana</h4>
                            <span class="roundtour-place--country">Россия</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-location"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Apatrments Ana</h4>
                            <span class="roundtour-place--country">Россия</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-home"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Анапа</h4>
                            <span class="roundtour-place--country">Греция</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-home"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Аналипси</h4>
                            <span class="roundtour-place--country">Черногория Котор</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-location"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Ana Mandara Hue</h4>
                            <span class="roundtour-place--country">Греция</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-aircraft"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Evason Ana Mandara</h4>
                            <span class="roundtour-place--country">Вьетнам Фуванг</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-location"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Apatrments Ana</h4>
                            <span class="roundtour-place--country">Греция</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-home"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Evason Ana Mandara</h4>
                            <span class="roundtour-place--country">Испания ЛЛарет-де-Мар</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-location"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Hostal Santa Ana</h4>
                            <span class="roundtour-place--country">Вьетнам Фуванг</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-location"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Apatrments Ana</h4>
                            <span class="roundtour-place--country">Вьетнам Фуванг</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-home"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Apatrments Ana</h4>
                            <span class="roundtour-place--country">Вьетнам Фуванг</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-home"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Ana Mandara Hue</h4>
                            <span class="roundtour-place--country">Вьетнам Фуванг</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-location"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Apatrments Ana</h4>
                            <span class="roundtour-place--country">Испания ЛЛарет-де-Мар</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-home"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Аналипси</h4>
                            <span class="roundtour-place--country">Черногория Котор</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-home"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Evason Ana Mandara</h4>
                            <span class="roundtour-place--country">Испания ЛЛарет-де-Мар</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-aircraft"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Apatrments Ana</h4>
                            <span class="roundtour-place--country">Испания ЛЛарет-де-Мар</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-location"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Аналипси</h4>
                            <span class="roundtour-place--country">Россия</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-home"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Ana Mandara Hue</h4>
                            <span class="roundtour-place--country">Вьетнам Фуванг</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                                <li>
                          <div class="roundtour-place--icon"><span class="icons-location"></span></div>
                          <div class="roundtour-place--info">
                            <h4 class="roundtour-place--curort">Evason Ana Mandara</h4>
                            <span class="roundtour-place--country">Испания ЛЛарет-де-Мар</span>
                          </div>
                          <div class="roundtour-place--img"><%= image_tag("DEMO/curort3.jpg?ver=1.0")%></div>
                        </li>
                                              </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <a href="#" class="roundtour-date">
                    <span class="icon icons-calendar_orange"></span>
                    <span class="text">
                      <span class="roundtour-date--months">Выберите дату</span>
                      <span class="roundtour-date--nights">и количество ночей</span>
                    </span>
                  </a>
                </div>
                <div class="roundtour-people">
                  <div class="roundtour-people--active">
                    <ul class="roundtour-people--adults">
                      <li>
                        <a href="#" class="roundtour-people--remove"><i class="fa fa-times"></i></a>
                        <span class="icons-people-adult_white hidden-xs hidden-sm"></span>
                        <span class="icons-people-adultsm_white visible-sm visible-xs"></span>

                      </li>
                      <li>
                        <a href="#" class="roundtour-people--remove"><i class="fa fa-times"></i></a>
                        <span class="icons-people-adult_white hidden-xs hidden-sm"></span>
                        <span class="icons-people-adultsm_white visible-sm visible-xs"></span>
                      </li>
                    </ul>
                    <ul class="roundtour-people--childrens">
                      <!--
                      <li>
                        <a href="#" class="roundtour-people--remove"><i class="fa fa-times"></i></a>
                        <span class="icons-people-children_white hidden-xs hidden-sm"></span>
                        <span class="icons-people-childrensm_white visible-sm visible-xs"></span>
                        <div class="roundtour-people--year">2</div>
                      </li>
                      -->
                    </ul>
                  </div>
                  <a href="#" class="roundtour-people--addadults">
                    <span class="text icons-plus_orange"></span>
                    <span class="icon icons-people-adult_orange hidden-xs hidden-sm"></span>
                    <span class="icon icons-people-adultsm_orange visible-sm visible-xs"></span>
                  </a>
                  <div class="roundtour-people--addchildrens-wrapper">
                    <a href="#" class="roundtour-people--addchildrens">
                      <span class="text icons-plus_orange"></span>
                      <span class="icon icons-people-children_orange hidden-xs hidden-sm"></span>
                      <span class="icon icons-people-childrensm_orange visible-sm visible-xs"></span>
                    </a>
                    <div class="roundtour-people--years scrollbar-inner">
                      <ul>
                        <li>1 год</li>
                        <li>2 года</li>
                        <li>3 года</li>
                        <li>4 года</li>
                        <li>5 лет</li>
                        <li>6 лет</li>
                        <li>7 лет</li>
                        <li>8 лет</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="roundtour-price--wrapper">
                  <input type="text" class="roundtour-price" name="roundtour-price" value="" />
                </div>
                <div class="roundtour-button">
                  <button class="btn btn-black btn-block">
                    <span class="text">подобрать сейчас</span>
                    <span class="icon icons-search_white"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
       </div>
       <div class="col-md-offset-1 col-md-6 col-sm-5">
         <div class="main-offer-wrapper">
           <h3 class="visible-xs">Готовые решения</h3>
           <div class="main-offer-slider">
              <div class="slide">
                <%@countries[0..1].each do |country| %>
                  <a href="#" class="ready-offer">
                  <div class="ready-offer--img"><%= image_tag country.header_img.url%></div>
                  <div class="ready-offer--content">
                   <div class="ready-offer--sale"><%=country.discount%>%</div>
                   <h4 class="ready-offer--title"><%=country.name%></h4>
                    <span class="ready-offer--price ready-offer--price_blue">от <%=country.price%> <i class="fa fa-rub"></i></span>
                 </div>
               </a>
                <%end%>
                             
                  
                  
                            </div>
                          <div class="slide">
                             <%@countries[2..3].each do |country| %>
                  <a href="#" class="ready-offer">
                  <div class="ready-offer--img"><%= image_tag country.header_img.url%></div>
                  <div class="ready-offer--content">
                   <div class="ready-offer--sale"><%=country.discount%>%</div>
                   <h4 class="ready-offer--title"><%=country.name%></h4>
                    <span class="ready-offer--price ready-offer--price_blue">от <%=country.price%> <i class="fa fa-rub"></i></span>
                 </div>
               </a>
                <%end%>
                            </div>
                          <div class="slide">
                                <%@countries[4..5].each do |country| %>
                  <a href="#" class="ready-offer">
                  <div class="ready-offer--img"><%= image_tag country.header_img.url%></div>
                  <div class="ready-offer--content">
                   <div class="ready-offer--sale"><%=country.discount%>%</div>
                   <h4 class="ready-offer--title"><%=country.name%></h4>
                    <span class="ready-offer--price ready-offer--price_blue">от <%=country.price%> <i class="fa fa-rub"></i></span>
                 </div>
               </a>
                <%end%>
                            </div>
                          <div class="slide">
                               <%@countries[6..7].each do |country| %>
                  <a href="#" class="ready-offer">
                  <div class="ready-offer--img"><%= image_tag country.header_img.url%></div>
                  <div class="ready-offer--content">
                   <div class="ready-offer--sale"><%=country.discount%>%</div>
                   <h4 class="ready-offer--title"><%=country.name%></h4>
                    <span class="ready-offer--price ready-offer--price_blue">от <%=country.price%> <i class="fa fa-rub"></i></span>
                 </div>
               </a>
                <%end%>
                            </div>
                          <div class="slide">
                                <%@countries[8..9].each do |country| %>
                  <a href="#" class="ready-offer">
                  <div class="ready-offer--img"><%= image_tag country.header_img.url%></div>
                  <div class="ready-offer--content">
                   <div class="ready-offer--sale"><%=country.discount%>%</div>
                   <h4 class="ready-offer--title"><%=country.name%></h4>
                    <span class="ready-offer--price ready-offer--price_blue">от <%=country.price%> <i class="fa fa-rub"></i></span>
                 </div>
               </a>
                <%end%>
                            </div>
                          <div class="slide">
                               <%@countries[10..11].each do |country| %>
                  <a href="#" class="ready-offer">
                  <div class="ready-offer--img"><%= image_tag country.header_img.url%></div>
                  <div class="ready-offer--content">
                   <div class="ready-offer--sale"><%=country.discount%>%</div>
                   <h4 class="ready-offer--title"><%=country.name%></h4>
                    <span class="ready-offer--price ready-offer--price_blue">от <%=country.price%> <i class="fa fa-rub"></i></span>
                 </div>
               </a>
                <%end%>
                            </div>
                        </div>
         </div>
       </div>
     </div>
  </div>
  <div class="roundtour-date--wrapper">
    <div class="container">
      <div class="col-md-offset-5 col-md-7">
        <div class="roundtour-date--content">
          <a href="#" class="roundtour-date--close"><span class="icons-close_grey"></span></a>
          <h4>Выберите количество ночей:</h4>
          <ul class="roundtour-date--night">
                        <li class="">2</li>
                        <li class="">3</li>
                        <li class="">4</li>
                        <li class="">5</li>
                        <li class="">6</li>
                        <li class="active">7</li>
                        <li class="">8</li>
                        <li class="">9</li>
                        <li class="">10</li>
                        <li class="">11</li>
                        <li class="">12</li>
                        <li class="">13</li>
                        <li class="">14</li>
                        <li class="">15</li>
                        <li class="">16</li>
                        <li class="">17</li>
                        <li class="">18</li>
                        <li class="">19</li>
                        <li class="">20</li>
                        <li>более 20</li>
          </ul>
          <hr>
          <h4>Выберите период отдыха:</h4>
          <div class="roundtour-date--month"></div>
          <input type="hidden" class="select-date" value="">
          <div class="roundtour-date--save">
            <a href="#" class="btn btn-black roundtour-date--save">Сохранить</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

